<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kyleg.myfitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CurrentRoutine" />
        <activity android:name=".addExercise" />
        <activity android:name=".addWorkout" />
        <activity android:name=".modifyCardio" />
        <activity android:name=".modifyWeightlifting" />
        <activity android:name=".modifyWorkout" />
        <activity android:name=".routineSelector" />
        <activity android:name=".editRoutine"></activity>
    </application>

</manifest>